body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1010px;
    background-color: #fff;
    margin: 40px auto;
}

/* main content section */
.main-container-section{
    padding: 100px 90px;
}

.main-cintent-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

.about-me-section{
    margin-bottom: 40px;
}

.about-my-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-bottom: 20px;
}

.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: black;
    margin-bottom: 25px;
}

.aboyt-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #595959;
}

/* my-project-section */
.my-project-section{
    margin-bottom: 50px;
}

.my-project-list{
    padding: 0 0 0 17px;
}

.my-project-item{
    color: black;
    font-weight: bold;
}

.my-project-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}

.my-project-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-project-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: black;
}

/* my-education-section */
.my-education-section{
    margin-bottom: 50px;
}

.my-education-university{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.my-education-faculty{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.my-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #595959;
}

.my-period-divider{
    color: black;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

/* my-additional-education-section */
.my-additional-education-list{
    padding: 0 0 0 17px;
}

.my-additional-education-item{
    color: black;
    font-weight: bold;
}


/* sidebar-section */
.sidebar-section{
    background-color: #1e2939;
    width: 370px;
    padding: 40px 0;
}

.sidebar-img{
    width: 370px;
}

.contacts-section{
    margin: 50px 0 0 40px;
}

/* contact section */
.contacts-section-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contacts-section-link{
    color: #8E949C;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

/* tech-skills */
.tech-skills-section{
    margin: 50px 0 0 40px;
}
.soft-skills-section{
    margin: 50px 0 0 40px;
}

.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}


/* skills section */
.skills-list{
    padding: 0 0 0 17px;
}

.skills-item{
    color: #FB6D3A;
}

.skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}